{# empty Twig template #}

{% extends '::base.html.twig' %}

{% block body %}
<div class="champ_formulaire">
	<div id="title">
		<h3 class="ribbon_large">Ajout d'une maison</h3><div class="triangle_top"></div><div class="triangle_bot"></div>
	</div>
	<table>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<tr>
			<td>{{ form_label(form.title, 'Nom') }}</td>
			<td>{{ form_widget(form.title) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.catchphrase, 'Devise') }}</td>
			<td>{{ form_widget(form.catchphrase) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.heraldry, 'Blason') }}</td>
			<td>{{ form_widget(form.heraldry) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.description, 'Description') }}</td>
			<td>{{ form_widget(form.description) }}</td>
		</tr>
		<tr>
			<td>{{ form_widget(form.save, {'label' : 'Sauvegarder'}) }}</td>
		</tr>
		{{ form_end(form) }}
	</table>
</div>
{% endblock %}