{% extends '::base.html.twig' %}

{% block body %}


<div id="title">
	<h3 class="ribbon_large"><a href="{{ path('omg_addhouse') }}">Ajouter une maison</a></h3><div class="triangle_top"></div><div class="triangle_bot"></div>
</div>
<!-- Liste des maisons -->
{% for house in houses %}
	<div class="personnage maison">
		<img src="{{ asset('bundles/omg/img/vide.png') }}">
		<div class="infos">
			<h2 class="ribbon_large">{{ house.getTitle() }}</h2><div class="triangle_top"></div><div class="triangle_bot"></div>
			<a href="{{ path('omg_gethouse', {'id_house':house.getId()}) }}" target="_blank" class="button button_small">En savoir +</a>
			<a href="{{ path('omg_updatehouse', {'id_house':house.getId()}) }}" class="button button_small">Modifier</a>
			<a href="{{ path('omg_deletehouse', {'id_house':house.getId()}) }}">Supprimer</a>
		</div>
	</div>
{% endfor %}
{% endblock %}