{% extends '::base.html.twig' %}

{% block body %}
    
    
    <a href="{{ path('omg_addhouse') }}">add house</a>
       
    <ul>
        {% for house in houses %}
            <li>{{ house.getTitle() }}</a>
                <a href="{{ path('omg_gethouse', {'id_house':house.getId()}) }}">Voir</a>
                <a href="{{ path('omg_updatehouse', {'id_house':house.getId()}) }}">Update</a>
                <a href="{{ path('omg_deletehouse', {'id_house':house.getId()}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
        
    <a href="{{ path('omg_homepage') }}">retourner au menu</a>
{% endblock %}
            
