{# empty Twig template #}

{% extends '::base.html.twig' %}

{% block body %}

<table class="champ_formulaire">
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<tr>
		<td>{{ form_label(form.Name, 'Nom') }}</td>
		<td>{{ form_widget(form.Name) }}</td>
	</tr>
	<tr>
		<td>{{ form_label(form.Description, 'Description') }}</td>
		<td>{{ form_widget(form.Description) }}</td>
	</tr>
	<tr>
		<td>{{ form_widget(form.save, {'label' : 'Sauvegarder'}) }}</td>
	</tr>
	{{ form_end(form) }}
</table>

{% endblock %}