{% extends '::base.html.twig' %}

{% block body %}
	
<!-- Description d'une compétence -->
<div class="single-personnage skill" id="display">
	<div class="row">

		<div class="infos">
		  <img class="portrait" src="{{ asset('bundles/omg/img/vide.png') }}">

			<div class="infos-inner">
				<h2 class="ribbon">{{ skill.getName() }}</h2>
				<p>{{skill.getDescription()}}</p>
			</div>
		</div>

		<div class="actions">
			<a class="button" href="{{ path('omg_updateskill', {'id_skill':skill.getId()}) }}" target="_blank" >Editer</a>
			<a class="button" href="{{ path('omg_deleteskill', {'id_skill':skill.getId()})  }}" target="_blank" >Supprimer</a>
		</div>

</div><!--row--> 
{% endblock %}
			
