{% extends '::base.html.twig' %}

{% block body %}
    
    <!-- Description d'une maison -->
    <div id="container_afficher_personnage">
        <img src="ressources/vide.png">
        <div id="nom_personnage_afficher">{{ skill.getName() }}
            <div id="nom_personnage_afficher_triangle_top"></div>
            <div id="nom_personnage_afficher_triangle_bottom"></div>
        </div>
        <div id="boutons_editer_supp_ajouter">
            <div class="bouton_editer_supp_ajouter"><a href="{{ path('omg_updateskill', {'id_skill':skill.getId()}) }}">Editer</a></div>
            <div class="bouton_editer_supp_ajouter"><a href="{{ path('omg_deleteskill', {'id_skill':skill.getId()})  }}">Supprimer</a></div>
        </div>

        <div id="description_personnage_afficher">
            {{skill.getDescription()}}
        </div>
    </div>
{# 
    id: {{skill.getId()}}<br>
    nom: {{skill.getName()}}<br>
    description: {{skill.getDescription()}}
 #}    
{% endblock %}
            
