{% extends '::base.html.twig' %}

{% block body %}
	
	<!-- Liste des compétences -->
	{% for skill in skills %}
		<div class="personnage maison">
			<img src="{{ asset('bundles/omg/img/vide.png') }}">
			<div class="infos">
				<h2 class="ribbon">{{ skill.getName() }}</h2>
				<a href="{{ path('omg_getskill', {'id_skill':skill.getId()}) }}" target="_blank" class="button button_small">En savoir +</a>
				<a href="{{ path('omg_updateskill', {'id_skill':skill.getId()}) }}" target="_blank" class="button button_small">Modifier</a>
				<a href="{{ path('omg_deleteskill', {'id_skill':skill.getId()}) }}" target="_blank" class="delete">Supprimer</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
			
