{% extends '::base.html.twig' %}

{% block body %}

	{# <a class="button" href="{{ path('omg_getlistsheet') }}">Liste des Personnages</a>
	<a class="button" href="{{ path('omg_getlisthouse') }}">Liste des Maisons</a>
	<a class="button"  href="{{ path('omg_getlistskill') }}">Liste des Compétences</a> #}
<!--
	<div class="personnage">
		<img src="{{ asset('bundles/omg/img/vide.png') }}">
		<div class="infos">
			<h2 class="ribbon_large">Cersei Lannister</h2><div class="triangle_top"></div><div class="triangle_bot"></div>
			<p>Maison Lannister</p>
			{# <a href="{{ path('omg_getsheet', {'id_sheet':sheet.getId()}) }}">en savoir +</a> #}
			<a href="#">en savoir +</a>
		</div>
	</div>

	<div class="personnage">
		<img src="{{ asset('bundles/omg/img/vide.png') }}">
		<div class="infos">
			<h2 class="ribbon_large">Cersei Lannister</h2><div class="triangle_top"></div><div class="triangle_bot"></div>
			<p>Maison Lannister</p>
			{# <a href="{{ path('omg_getsheet', {'id_sheet':sheet.getId()}) }}">en savoir +</a> #}
			<a href="#">en savoir +</a>
		</div>
	</div>

	<div class="personnage">
		<img src="{{ asset('bundles/omg/img/vide.png') }}">
		<div class="infos">
			<h2 class="ribbon_large">Cersei Lannister</h2><div class="triangle_top"></div><div class="triangle_bot"></div>
			<p>Maison Lannister</p>
			{# <a href="{{ path('omg_getsheet', {'id_sheet':sheet.getId()}) }}">en savoir +</a> #}
			<a href="#">en savoir +</a>
		</div>
	</div>

	<div class="personnage">
		<img src="{{ asset('bundles/omg/img/vide.png') }}">
		<div class="infos">
			<h2 class="ribbon_large">Cersei Lannister</h2><div class="triangle_top"></div><div class="triangle_bot"></div>
			<p>Maison Lannister</p>
			{# <a href="{{ path('omg_getsheet', {'id_sheet':sheet.getId()}) }}">en savoir +</a> #}
			<a href="#">en savoir +</a>
		</div>
	</div>
-->
{% endblock %}